html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: rgb(255, 252, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-main{
	display: flex;
	flex-direction: column;
	border-right: 5px dashed #4DC1BB;
}

.category{
	padding: 0 10px;
}

.category-header{
    color: #4DC1BB;
	font-family: 'Bree Serif', serif;
	font-weight: 900;
	text-align: justify;
    text-transform: uppercase;
}

.category-header.c-h001{
	font-size: 96px;
}

.category-header.c-h002{
	display: flex;
	align-items: stretch;
	font-size: 58px;
	font-family: 'Lato', sans-serif;
	flex-grow: 1;
}

.category-header.c-h002 .p1{
	font-weight: 900;
	margin-right: 5px;
}

.category-header.c-h002 .p2{
	text-align: right;
	font-weight: 300;
}

.category-header.c-h003{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 63px;
	letter-spacing: 2px;
}

.category-header.c-h003 u{
	font-size: 54px;
	vertical-align:top;
}

.category-header.c-h004{
	display: flex;
	align-items: center;
	flex-grow: 1;
	font-family: 'Work Sans', sans-serif;
	font-size: 48px;
}

.category-header.c-h004 .p1{
	padding: 0 10px;
}

.category-header.c-h004 .color-fill{
	background-color: #4DC1BB;
	height: 32px;
	flex-grow: 10;
}

.item{
	display: flex;
	flex-direction: row;
	padding-top: 5px;
	align-items: center;
	flex-wrap: wrap;
	max-width: 400px;
	font-size: 20px;
}

.item:first-of-type{
	padding-top: 10px;
}

.item:last-of-type{
	padding-bottom: 15px;
}

.item-name{
	text-align: left;
	font-weight: 700;
	flex-grow: 1;
}

.item-description{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	flex-grow: 20;
}

.item-price{
	text-align: right;
	font-weight: 700;
	flex-grow: 1;
}

